# Supabase Configuration
SUPABASE_URL=https://veeonffibrkunboagkdu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlZW9uZmZpYnJrdW5ib2Fna2R1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NDA3MDYsImV4cCI6MjA5NTAxNjcwNn0.yJrH31gXOyn6mrIrWOl2h7SjqPDhdEGibm4I-luQT9I
